<div class="container">
  <h2 class="heading">Add/Update Player</h2>
  <form class="player-form" (submit)="addOrUpdatePlayer()">
    <label for="name">Player Name:</label>
    <input type="text" id="name" [(ngModel)]="player.name" name="name" required>

    <label for="age">Player Age:</label>
    <input type="number" id="age" [(ngModel)]="player.age" name="age" required>

    <label for="team">Player Team:</label>
    <input type="text" id="team" [(ngModel)]="player.team" name="team" required>

    <button type="submit" [innerText]="player.id === 0 ? 'Add Player' : 'Update Player'"></button>
    <button type="button" (click)="resetForm()">Cancel</button>
  </form>
</div>
